# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Logs
*.log

# Env files
.env
.env.*

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.gfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Ansible
*.retry
.ansible/
ansible.cfg
ansible.log
*.vault
*.vault.yml
*.vault.yaml

# AWS
.aws/
aws-exports.env
aws-credentials.env
